body {
	background-color: $smoke;
	font-family: $font-family;
	background-size: cover;
	background-image: url('/weather_bg.jpeg');
}

.background {
	width: 100%;
	height: 100;
	background-image: url('/weather_bg.jpeg');
}
